extends layout

block content
	div(class='homepage-container')
		h1(id='homepage-header') Welcome to List Creator
		p(id='homepage-content') Lorem ipsum dolor sit amet, elementum praesent nonummy dictum lacinia, magnis ante arcu mattis. Vitae eros vel et diam, curabitur id est velit, labore at erat quis ut mauris non, tincidunt sem, porttitor tristique. Eleifend etiam facilisi scelerisque in, odio ipsum a et proin dictum, sit neque venenatis sed conubia, ullamcorper etiam in mattis, venenatis convallis arcu pellentesque amet justo. Velit sed tellus faucibus enim aut, turpis leo lectus donec arcu ut. Auctor nulla morbi nullam. Ipsum dolor lobortis suspendisse, erat proin dui rhoncus pretium urna vivamus, justo placerat a sed integer nunc, facilisi rutrum donec, sociosqu varius sed nec litora sed.Rhoncus aliquet, phasellus non ornare ipsum in est lectus, blandit eleifend ultricies, sed enim, a enim odio euismod duis faucibus semper. Auctor nec duis suscipit ante ante aliquam, vel integer mi sagittis gravida in, ultricies pede pede, dui adipiscing netus. Duis a, vel ligula odio. Porta elit faucibus. Magna sed id pretium eu, est ac pharetra lectus urna, proin phasellus, ligula natoque dui vel amet mauris, nibh in egestas ut. Placerat libero porro, dui id, facilisis integer amet, pharetra sed, fusce duis euismod est. Vestibulum in augue, imperdiet id massa, mi enim elit a dui vulputate, penatibus pharetra sed ut. Pede ac mi sollicitudin in, ac tortor donec nulla. Sed mauris phasellus hic, nisl quisque magna tellus dolor. Sed rhoncus phasellus, neque a vitae.

block scripts
	script(src='/javascripts/home.js')
